@* uMediaOps test partial with hardcoded media references *@
<div class="media-gallery">
  <img src="/media/zkbbpy4u/4730684907_8a7f8759cb_b.jpg" alt="Biker Jacket" />
  @* Media key: 55514845-b8bd-487c-b370-9724852fd6bb *@
  <img src="/media/obrklfts/7371127652_e01b6ab56f_b.jpg" alt="Tattoo" />
  @* Media key: 20e3a8ff-ad1b-4fe9-b48c-b8461c46d2d0 *@
  <img src="/media/qtrihljr/14272036539_469ca21d5c_h.jpg" alt="Unicorn" />
  @* Media key: 1bc5280b-8658-4027-89d9-58e2576e469b *@
  <img src="/media/4agnq3uk/5852022211_9028df67c0_b.jpg" alt="Ping Pong Ball" />
  @* Media key: c09ec77f-08e3-466a-ac58-c979befd3cd6 *@
</div>
